
.label, .text {
    -fx-text-fill: #32aafa; 
    -fx-font-size: 20px;
    -fx-font-family: "Comic Sans MS", "Chalkboard SE", "Segoe Print", cursive;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #FFFFFF, 3, 0.8, 0, 0),
                 dropshadow(gaussian, #000000, 6, 0.8, 2, 2);
    -fx-background-color: transparent;
    -fx-padding: 10;
}

.text2 {
    -fx-text-fill: #fe0303; 
    -fx-font-size: 20px;
    -fx-font-family: "Comic Sans MS", "Chalkboard SE", "Segoe Print", cursive;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #FFFFFF, 3, 0.8, 0, 0),
                 dropshadow(gaussian, #000000, 6, 0.8, 2, 2);
    -fx-background-color: transparent;
    -fx-padding: 10;
}
